<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绑定</title>
</head>
<body ng-app="test">
    <ul class="item" ng-controller="item-controller">
        <!--选中变色，数据加载其后-->
        <li ng-repeat="li-item">
            {{item}}
        </li>
        <!--LOSE CONTROL-->
    </ul>
</body>
<script>
    window.fmUrlObject={
        baseUrlApi:'__API_URL__'+'/',
        img:'__IMG__',
    };
</script>
<script type="text/javascript" src="../../Javascript/lib/angular.min.js"></script>
<script type="text/javascript" src="../../Javascript/customer/test.js"></script>
</html>