<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="__CSS__/index.css" rel="stylesheet">
    <title>FM</title>
</head>
<body>
        <!--头部-->
        <div class="head">
            <div id="fm-logo"><a href="#"></a></div>
            <div class="user">
                <ul>
                    <li id="login"><a href=""><label>登陆</label></a></li>
                    <li id="register"><a href=""><label>马上注册</label></a></li>
                    <li id="open"><a href=""><label>开启</label><span><img src="__IMG__/pro_icon.gif"/></span></a></li>
                    <div class="clear:both"></div>
                </ul>
            </div>
        </div>

        <!--播放器-->
        <div class="fm-play">
            <div class="fm-left"></div>
            <div class="fm-right"></div>
        </div>

        <!--侧边全部兆赫-->
        <div class="side-bar">
            <div class="side-fm">
                <div class="side-fm-inner">
                    <div class="side-fm-cont">
                        <!--FM头部-->
                        <div class="head-fm">
                            <h2 id="all-section">全部兆赫</h2>
                            <form id="search">
                                <div class="search-inner">
                                    <input class="search-fm" type="text" placeholder="搜索兆赫">
                                    <input class="search-btn" type="submit" value title="搜索">
                                </div>
                            </form>
                            <div clas="side-ctrl-fm">
                                <div id="sidebar-ctrl" title="收起全部兆赫" data-opt-title="收起全部兆赫"></div>
                            </div>
                        </div>
                        <!--FM banner-->
                        <div class="banner">
                            <div class="banner-left">
                                <img id="banner-img" src="">
                            </div>
                            <div class="banner-right">
                                <ul class="banner-num"></ul>
                                <div class="banner-info">
                                    <h3 class="banner-li"><a href="#"></a><span id="icon"></span></h3>
                                    <p class="p1" id="text1"></p>
                                    <p class="p1" id="text2"></p>
                                </div>
                            </div>
                        </div>
                        <!--FM taglist-->
                        <ul class="taglist-fm"></ul>
                        <!--FM sidelist-->
                        <div class="sidelist">
                            <!--FM hot song-->
                            <h3 class="fm-title">热门兆赫</h3>
                            <div class="songs-sec" id="hot-song">
                                <ul class="song-info"></ul>
                            </div>
                            <!--FM up song-->
                            <h3 class="fm-title">上升最快</h3>
                            <div class="songs-sec" id="up-song">
                                <ul class="song-info"></ul>
                            </div>
                            <!--FM brand song-->
                            <h3 class="fm-title">品牌兆赫</h3>
                            <div class="" id="brand-song">
                                <ul class="song-info"></ul>
                            </div>
                            <!--鼠标hover详情-->
                            <div class="hoverContent"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--侧边播放栏滚动条-->
            <div id="side-bar-ctrl">
                <div id="side-ctrl-center" title="展开全部兆赫"></div>
            </div>
        </div>

        <!--FM列表-->
        <div class="list-container">
            <div class="list-wrapper">
                <div class="main-list">
                    <div class="chanel">
                        <ul class="chanel-list">
                            <li><span>我的私人兆赫</span></li>
                            <li><span>我的红心兆赫</span></li>
                            <li><span>豆瓣精选兆赫</span><img id="play-music" src="__IMG__/playing_w.gif"/></li>
                        </ul>
                    </div>
                    <div class="chanel">
                        <h3>最近收听<span class="line"></span></h3>
                    </div>
                    <div class="chanel">
                        <h3>试试这些<span class="line"></span></h3>
                        <ul class="chanel-list">
                            <li><span>新歌&nbsp;MHz</span></li>
                            <li><span>韩语&nbsp;MHz</span></li>
                            <li><span>日语&nbsp;MHz</span></li>
                        </ul>
                    </div>
                    <div class="chanel">
                        <h3>品牌兆赫<span class="line"></span></h3>
                        <ul class="chanel-list">
                            <li><span>最初的梦想&nbsp;MHz</span></li>
                            <li><span>下个路口见&nbsp;MHz</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--分享-->
        <div class="listen"></div>

        <!--FM背景-->
        <div id="fm-bg"></div>

        <!--底部-->
        <div class='footer'>
            <div class='footer-info'>
                <p class='left-info'>&copy;2013 douban 京ICP备11027288号 网络视听许可证0110418号 京公网安备110105012274
                    &nbsp; &nbsp; &nbsp;
                    <label>广告合作:</label>
                    <a href=''><label>adfm@douban.com</label></a>
                    <label>|</label>
                    <a href=''><label>FM游乐场</label></a>
                    <label>|</label>
                    <a href=''><label>FM用户手册</label></a>
                    <label>|</label>
                </p>
            </div>
            <div class='title-info'><a href=''><label>豆瓣FM中心</label></a></div>
        </div>

</body>
<script>
    window.fmUrlObject={
        baseUrlApi:'__API_URL__'+'/',
        img:'__IMG__',
    };
    window.baseApiUrl='__API_URL__'+'/';
</script>
<script src="__JS__/lib/jquery-1.8.2.min.js"></script>
<script src="__JS__/customer/login.js" type="text/javascript"></script>
<script src="__JS__/customer/side_bar.js" type="text/javascript"></script>
<script src="__JS__/index.js" type="application/javascript"></script>
</html>