<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="login-container">
    <div class="left">
        <p id="legend">登陆</p>
        <div class="login-item spec"><input id="user-name" type="text"></div>
        <div class="login-item spec"><input id="password" type="text"></div>
        <div class="login-item spec captcha"><input id="pass-code" type="text"><img id="pass-code-img"/></div>
        <div class="login-item"><input class="login-check" type="checkbox"><span>下次自动登陆</span></div>
        <div class="login-item"><a href="#">忘记密码</a></div>
        <button id="login-btn"><label>登陆</label></button>
        <p>输入的账号或者密码有误</p>
        </div>
    <div class="right">
        <div class="closeLogin">X</div>
        <p>用其他账号登陆</p>
        <ul id="three-way">
            <li><a href=""><span>新浪微博</span></a></li>
            <li><a href=""><span>QQ</span></a></li>
            <li><a href=""><span>MSN</span></a></li>
        </ul>
        <p>没有豆瓣FM账户？</p>
        <div id="register"><a href=""><label>立即注册</label></a></div>
    </div>
</div>
</body>
</html>