<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="__CSS__/index.css" rel="stylesheet">
    <title></title>
</head>
<body>
<div id="wrapper">
    <div class="side-fm">
        <div class="side-fm-inner">
            <div class="side-fm-cont">
                <!--FM头部-->
                <div class="head-fm">
                    <h2 id="all-section">全部兆赫</h2>

                    <form id="search">
                        <div class="search-inner">
                            <input class="search-fm" type="text" placeholder="搜索兆赫">
                            <input class="search-btn" type="submit" value title="搜索">
                        </div>
                    </form>
                    <div clas="side-ctrl-fm">
                        <div id="sidebar-ctrl" title="收起全部兆赫" data-opt-title="收起全部兆赫"></div>
                    </div>
                </div>
                <!--FM banner-->
                <div class="banner">
                    <div class="banner-left"><img src="__IMG__/slide/16288.jpg"></div>
                    <div class="banner-right">
                        <ul class="banner-num">
                            <li class="on">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <!--::after-->
                        </ul>
                        <div class="banner-info">
                            <h3 class="banner-li"><a href="#">Wonderful Tonight<span>MHz</span></a><span
                                    id="icon"></span></h3>

                            <p class="p1">户外的时候听什么</p>

                            <p class="p1">热门歌曲：一万次悲伤 / 夜空中最亮的星 / 最初的梦想（Cover 范玮琪）</p>
                        </div>
                    </div>
                </div>
                <!--FM taglist-->
                <ul class="taglist-fm">
                    <li data-genre_id="335"><a href="">摇滚</a></li>
                    <li data-genre_id="326" class=""><a href="">古典</a></li>
                    <li data-genre_id="327"><a href="">爵士</a></li>
                    <li data-genre_id="337" class=""><a href="">民谣/乡村</a></li>
                    <li data-genre_id="331" class=""><a href="">流行</a></li>
                    <li data-genre_id="325"><a href="">电子</a></li>
                    <li data-genre_id="328"><a href="">原声配乐</a></li>
                    <li data-genre_id="332" class=""><a href="">轻音乐</a></li>
                    <li data-genre_id="334"><a href="">说唱</a></li>
                    <li data-genre_id="330"><a href="">雷鬼</a></li>
                    <li data-genre_id="329"><a href="">拉丁</a></li>
                    <li data-genre_id="333" class=""><a href="">世界音乐</a></li>
                    <li data-genre_id="324"><a href="">布鲁斯</a></li>
                    <li data-genre_id="336" class=""><a href="">放克/灵歌/R&amp;B</a></li>
                </ul>
                <!--FM sidelist-->
                <div class="sidelist">
                    <h3 class="fm-title">热门兆赫</h3>
                    <div class="songs-sec">
                        <ul class="song-info">
                            <li class="song-list">
                                <div class="song-img"><img src="__IMG__/slide/26379.jpg"></div>
                                <div class="song-note">
                                    <div class="song-section">华语MHz</div>
                                    <div class="song-detail"><label>8489首歌曲</label><a class="more-song">兆赫详情</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>