body {
  margin: 0px;
  padding: 0px;
  color: #696969;
  font: 12px/1.6 arial, helvetica, sans-serif;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
}
ul {
  list-style: none;
}
img {
  border-style: none;
}
a {
  color: #999;
}
a:link,
a:visited {
  color: #636564;
  text-decoration: none;
}
a:hover {
  color: black;
}
a:active {
  color: #669;
}
a:link {
  color: #369;
  text-decoration: none;
}
p {
  line-height: 22px;
}
.clear {
  clear: both;
}
label {
  color: #999;
  margin-left: 5px;
}
