@charset "utf-8";

body{
	background:url(../images/try/info-person-bg.jpg) no-repeat top center;
	display:block;
}
.main{
	width:960px;
	margin:0 auto;
	position:relative;
	top:0px;
	left:0px;
}
/*人物头像和独白*/
.info-person{
	position: absolute;
	width: 960px;
	top: 0px;
	left: 0px;
	height: 835px;
	z-index: 0;
}
.info-person a{
	text-indent: -999em;
}
/*每个人物头像*/
.bjx{
	width: 191px;
	height: 244px;
	position: absolute;
	left: 155px;
	top: 56px;
	z-index: 1;
}
.lzl{
	width: 175px;
	height: 198px;
	position: absolute;
	right: 171px;
	top: 56px;
	z-index: 1;
}
.txe{
	width: 311px;
	height: 264px;
	position: absolute;
	left: 326px;
	top: 263px;
	z-index: 1;
}
.bxw{
	width: 108px;
	height: 165px;
	position: absolute;
	left: 106px;
	top: 373px;
	z-index: 1;
}
.lzp{
	width: 116px;
	height: 167px;
	position: absolute;
	right: 165px;
	top: 483px;
	z-index: 1;
}
.bl{
	width: 101px;
	height: 129px;
	position: absolute;
	left: 115px;
	top: 608px;
	z-index: 1;
}
.ls{
	width: 129px;
	height: 154px;
	position: absolute;
	left: 335px;
	top: 725px;
	z-index: 1;
}
.hw{
	width: 135px;
	height: 141px;
	position: absolute;
	right: 207px;
	top: 718px;
	z-index: 1;
}
/*每个人物的独白*/
.bjx-word{
	background: url(../images/try/word2.png) no-repeat;
	width: 398px;
	height: 51px;
	position: absolute;
	left: 276px;
	top: 212px;
	overflow: hidden;
	z-index: 3;
	display:none;
}
.lzl-word{
	background: url(../images/try/word1.png) no-repeat;
	width: 397px;
	height: 50px;
	position: absolute;
	right: 148px;
	top: 146px;
	overflow: hidden;
	z-index: 2;
	display:none;
}
.txe-word{
	background: url(../images/try/word3.png) no-repeat;
	width: 365px;
	height: 50px;
	position: absolute;
	right: 235px;
	top: 400px;
	overflow: hidden;
	z-index: 2;
	display:none;
}
.bxw-word{
	background: url(../images/try/word4.png) no-repeat;
	width: 246px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	left: 128px;
	top: 491px;
	z-index: 2;
	display:none;
}
.lzp-word{
	background: url(../images/try/word5.png) no-repeat;
	width:454px;
	height: 51px;
	overflow: hidden;
	position: absolute;
	right: 92px;
	top: 592px;
	z-index: 2;
	display:none;
}
.ls-word{
	background: url(../images/try/word6.png) no-repeat;
	width:217px;
	height: 51px;
	overflow: hidden;
	position: absolute;
	left: 117px;
	top: 742px;
	z-index: 2;
	display:none;
} 
.hw-word{
	background: url(../images/try/word7.png) no-repeat;
	width: 756px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	top: 813px;
	left: 112px;
	z-index: 2;
	display:none;
}

